<!-- FOOTER BLOCK, full-width enabling highlight color -->

<footer class="bg-teal cf pa2-l pa1 pb3 black-70 bt b--black-10">
  <div class="mb4-l mw8 center pa2 pa3-ns center cf pt3 pt4-m pt5-ns">
    <article class="fl w-25-ns w-50-m w-100 mb4-ns mb3 pl0-ns pl2-m pr2">
      <h4 class="f5 f4-l fw6 yellow">Facilities & Hours</h4>
       <a class="link dim white f6 dib" href="/" title="Home">Search</a>

    </article>


    <article class="fl w-25-ns w-50-m w-100 mb4-ns mb3 pl0-ns pl2-m pr2">
      <h4 class="f5 f4-l fw6 yellow">Library Guides</h4>
      <a class="link dim white f6 dib" href="/" title="Home">Search</a>
    </article>


    <article class="fl w-25-ns w-50-m w-100 mb4-ns mb3 pl4-ns pl2-m pr2">
      <h4 class="f5 f4-l fw6 yellow">Olin Workshop on the Library</h4>
      <a class="link dim white f6 dib" href="/" title="Home">Search</a>
    </article>


    <article class="fl w-25-ns w-50-m w-100 mb4-ns mb3 pl0-ns pl2-m pr2">
      <h4 class="f5 f4-l fw6 yellow">Policies & Practices</h4>
      <a class="link dim white f6 dib" href="/" title="Home">Search</a>
    </article>
  </div>

  <section class="cf mw8 center pa2 pa3-ns pt1-ns">
    <form action="https://olin.us14.list-manage.com/subscribe/post?u=04bdcf27507f8548306a85949&amp;id=6652e78322" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <p class="mb2 mt0 white">
        We also happen to have an infrequent, hopefully enjoyable, newsletter.
      </p>
      <!--mailchimp signup-->
      <input type="email" value="" name="EMAIL" placeholder="Email Address" class="mw-100 w-100 w5-ns f5 input-reset ba bg-white-30 b--black-20 white pv3 ph4 border-box" id="mce-EMAIL">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-reset w-100 w-auto-ns bg-black-30 white f5 pv2 pv3-ns ph4 ba b--black-20 bg-hover-mid-gray">

      <!-- cruft from mailchimp-->
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>

      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04bdcf27507f8548306a85949_6652e78322" tabindex="-1" value=""></div>
    </form>
  </section>
</footer> <!-- FOOTER BLOCK -->

 <!-- TABS SCRIPT -->
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="/assets/js/lib/tabs.js"></script> <!-- Resource jQuery -->


</body>
</html>
