<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>The Library</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/lib/reset.css">
  <link rel="stylesheet" href="/assets/css/lib/tachyons.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/lib/custom.css">
  <script src="/assets/js/lib/modernizr.js"></script> <!-- Modernizr -->
</head>
