<!-- Header Block, relying on body as background color -->
<!-- Header -->

  <header id="header" class="alt">

    <!-- Logo -->
      <div class="logo">
        <a href="{{ "/" | prepend: site.baseurl }}"><strong>The Library</strong> <span class="extra">Olin College of Engineering</span></a>
      </div>


    <!-- Nav -->
      <nav id="nav">
        <ul>
        {% for item in site.menus.header %}
          {% if item.children %}
          <li>
          {% else %}
          <li class="current">
          {% endif %}
            <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}
            {% if item.children %}
            <i class="fa fa-angle-down"></i>
            {% endif %}
            </a>
            {% if item.children %}
              <ul>
              {% for item in item.children %}
                <li>
                  <a href="{{ item.url }}">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </nav>

  </header>
<!-- Header Block-->
