<!-- Header Block, relying on body as background color -->
<header class="mw8 center pa2 pa3-ns">
  <nav class="">
    <h1 class="lh-solid f5 f4-ns">
      <a class="link dim black b dib mr3" href="/" title="Home">The Library<br> Olin College Engineering</a>
    </h1>
    <div class="">
      <a class="link dim gray f6 dib mr3" href="/" title="Home">Home</a>
      <a class="link dim gray f6 dib mr3" href="/what_we_have/collections" title="Collections">What We Have</a>
      <a class="link dim gray f6 dib mr3" href="/using_our_library/services" title="Access and Services">Using Our Library</a>
      <!-- <a class="link dim gray f6 dib mr3" href="/blog" title="Services">Blog</a> -->
      <!--<a class="link dim gray f6 dib mr3" href="/about/about" title="About">About</a> -->
      <a class="link dim gray f6 dib mr3" href="/dispatches/dispatches" title="Blog">New</a>
    </div>
  </nav>
</header>
<!-- Header Block-->
