<!-- Table of Contents template -->

<!-- only shows up if the page has toc == true -->
{% if page.toc == true %}
    {% if page.layout == 'post' %}
    <div class="toc">
    {% else %}
    <div class="toc">
    {% endif %}
        <input type='checkbox' id=toggle />
        <label class="toc-header " for=toggle>
            Table of Contents
            <span class="octicon octicon-chevron-down"></span>
            <span class="octicon octicon-chevron-up"></span>
        </label>
        {{content | toc_only}}
    </div>

{% endif %}
